In [2]:
# Imports 
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
# get files to load

e_file = "resources/english.csv"
g_file = "resources/german.csv"
s_file = "resources/spanish.csv"

leagues_file = "resources/leagues.csv"

In [4]:
#load data into pandas dataframe

english = pd.read_csv(e_file)
german = pd.read_csv(g_file)
spanish = pd.read_csv(s_file)
leagues = pd.read_csv(leagues_file)

In [5]:
english.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Patrick van Aanholt\Patrick-van-Aanholt,nl NED,DF,Crystal Palace,27,1990,36,36,3195,...,0.14,2.7,2.7,3.9,0.08,0.11,0.19,0.08,0.19,Matches
1,2,Sergio Agüero\Sergio-Aguero,ar ARG,FW,Manchester City,30,1988,33,31,2459,...,0.99,20.7,19.2,5.5,0.76,0.20,0.96,0.70,0.91,Matches
2,3,Nathan Aké\Nathan-Ake,nl NED,DF,Bournemouth,23,1995,38,38,3411,...,0.11,3.4,3.4,0.8,0.09,0.02,0.11,0.09,0.11,Matches
3,4,Marc Albrighton\Marc-Albrighton,eng ENG,FWMF,Leicester City,28,1989,27,18,1625,...,0.22,1.1,1.1,3.1,0.06,0.17,0.23,0.06,0.23,Matches
4,5,Toby Alderweireld\Toby-Alderweireld,be BEL,DF,Tottenham,29,1989,34,33,2922,...,0.00,1.1,1.1,0.6,0.03,0.02,0.05,0.03,0.05,Matches

In [6]:
german.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Issah Abbas\Issah-Abbas,gh GHA,FW,Mainz 05,19,1998,1,0,9,...,0.00,0.0,0.0,0.0,0.17,0.00,0.17,0.17,0.17,Matches
1,2,David Abraham\David-Abraham,ar ARG,DF,Eint Frankfurt,32,1986,17,17,1420,...,0.00,0.4,0.4,0.1,0.03,0.01,0.03,0.03,0.03,Matches
2,3,Amir Abrashi\Amir-Abrashi,al ALB,MF,Freiburg,28,1990,10,9,790,...,0.00,0.2,0.2,0.1,0.02,0.01,0.02,0.02,0.02,Matches
3,4,Tyler Adams\Tyler-Adams,us USA,MF,RB Leipzig,19,1999,10,8,721,...,0.25,0.2,0.2,0.7,0.03,0.09,0.12,0.03,0.12,Matches
4,5,Antonis Aidonis\Antonis-Aidonis,de GER,DF,Stuttgart,17,2001,2,1,80,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches

In [7]:
spanish.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Antonio Adán\Antonio-Adan,es ESP,GK,Atlético Madrid,31.0,1987.0,1,1,90,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Aday\Aday,es ESP,DFMF,Girona,30.0,1987.0,10,8,645,...,0.28,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14,Matches
2,3,Aritz Aduriz\Aritz-Aduriz,es ESP,FW,Athletic Club,37.0,1981.0,20,10,943,...,0.00,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21,Matches
3,4,Luis Advíncula\Luis-Advincula,pe PER,DF,Rayo Vallecano,28.0,1990.0,28,27,2389,...,0.15,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10,Matches
4,5,Martin Agirregabiria\Martin-Agirregabiria,es ESP,DF,Alavés,22.0,1996.0,27,23,2032,...,0.00,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02,Matches

In [8]:
leagues.head()

            League Confederation  Country  No_Teams
0  Premiere League          UEFA  England        20
1       Bundesliga          UEFA  Germany        18
2          La Liga          UEFA    Spain        20

In [9]:
# displays all the column names in the spanish, german, and english dataframes

for col in spanish.columns:
    print(col)

Rk
Player
Nation
Pos
Squad
Age
Born
MP
Starts
Min
Gls
Ast
PK
PKatt
CrdY
CrdR
Gls.1
Ast.1
G+A
G-PK
G+A-PK
xG
npxG
xA
xG.1
xA.1
xG+xA
npxG.1
npxG+xA
Matches

In [10]:
def df_cleanup(country):
    new = country["Player"].str.split('\\', n = 1, expand = True)
    country["Player_Name"]= new[0]
    country['Nation'] = country['Nation'].str[3:]
    country['Pos'] = country['Pos'].str[:2]

In [11]:
df_cleanup(spanish)

In [12]:
spanish.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches,Player_Name
0,1,Antonio Adán\Antonio-Adan,ESP,GK,Atlético Madrid,31.0,1987.0,1,1,90,...,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches,Antonio Adán
1,2,Aday\Aday,ESP,DF,Girona,30.0,1987.0,10,8,645,...,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14,Matches,Aday
2,3,Aritz Aduriz\Aritz-Aduriz,ESP,FW,Athletic Club,37.0,1981.0,20,10,943,...,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21,Matches,Aritz Aduriz
3,4,Luis Advíncula\Luis-Advincula,PER,DF,Rayo Vallecano,28.0,1990.0,28,27,2389,...,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10,Matches,Luis Advíncula
4,5,Martin Agirregabiria\Martin-Agirregabiria,ESP,DF,Alavés,22.0,1996.0,27,23,2032,...,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02,Matches,Martin Agirregabiria

In [13]:
cols = list(spanish.columns.values)
cols

['Rk',
 'Player',
 'Nation',
 'Pos',
 'Squad',
 'Age',
 'Born',
 'MP',
 'Starts',
 'Min',
 'Gls',
 'Ast',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'xG.1',
 'xA.1',
 'xG+xA',
 'npxG.1',
 'npxG+xA',
 'Matches',
 'Player_Name']

In [14]:
spanish["League"]= "La Liga"

In [15]:
# rearrange the columns and drop duplicate name columns
spanish = spanish[['Player_Name','Nation', 'League',
 'Pos',
 'Squad',
 'Age',
 'Born',
 'MP',
 'Starts',
 'Min',
 'Gls',
 'Ast',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'xG.1',
 'xA.1',
 'xG+xA',
 'npxG.1',
 'npxG+xA']]

In [16]:
spanish.head()

,Player_Name,Nation,League,Pos,Squad,Age,Born,MP,Starts,Min,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
0,Antonio Adán,ESP,La Liga,GK,Atlético Madrid,31.0,1987.0,1,1,90,...,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
1,Aday,ESP,La Liga,DF,Girona,30.0,1987.0,10,8,645,...,0.00,0.28,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14
2,Aritz Aduriz,ESP,La Liga,FW,Athletic Club,37.0,1981.0,20,10,943,...,0.00,0.00,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21
3,Luis Advíncula,PER,La Liga,DF,Rayo Vallecano,28.0,1990.0,28,27,2389,...,0.04,0.15,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10
4,Martin Agirregabiria,ESP,La Liga,DF,Alavés,22.0,1996.0,27,23,2032,...,0.00,0.00,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02

In [17]:
df_cleanup(english)

In [18]:
english["League"]= "Premiere League"

In [19]:
# rearrange the columns and drop duplicate name columns
english = english[['Player_Name','Nation', 'League',
 'Pos',
 'Squad',
 'Age',
 'Born',
 'MP',
 'Starts',
 'Min',
 'Gls',
 'Ast',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'xG.1',
 'xA.1',
 'xG+xA',
 'npxG.1',
 'npxG+xA']]

In [20]:
english.head()

,Player_Name,Nation,League,Pos,Squad,Age,Born,MP,Starts,Min,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
0,Patrick van Aanholt,NED,Premiere League,DF,Crystal Palace,27,1990,36,36,3195,...,0.08,0.14,2.7,2.7,3.9,0.08,0.11,0.19,0.08,0.19
1,Sergio Agüero,ARG,Premiere League,FW,Manchester City,30,1988,33,31,2459,...,0.70,0.99,20.7,19.2,5.5,0.76,0.20,0.96,0.70,0.91
2,Nathan Aké,NED,Premiere League,DF,Bournemouth,23,1995,38,38,3411,...,0.11,0.11,3.4,3.4,0.8,0.09,0.02,0.11,0.09,0.11
3,Marc Albrighton,ENG,Premiere League,FW,Leicester City,28,1989,27,18,1625,...,0.11,0.22,1.1,1.1,3.1,0.06,0.17,0.23,0.06,0.23
4,Toby Alderweireld,BEL,Premiere League,DF,Tottenham,29,1989,34,33,2922,...,0.00,0.00,1.1,1.1,0.6,0.03,0.02,0.05,0.03,0.05

In [21]:
df_cleanup(german)

In [22]:
german["League"]= "Bundesliga"

In [23]:
# rearrange the columns and drop duplicate name columns
german = german[['Player_Name','Nation', "League",
 'Pos',
 'Squad',
 'Age',
 'Born',
 'MP',
 'Starts',
 'Min',
 'Gls',
 'Ast',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'xG.1',
 'xA.1',
 'xG+xA',
 'npxG.1',
 'npxG+xA']]

In [24]:
german.head()

,Player_Name,Nation,League,Pos,Squad,Age,Born,MP,Starts,Min,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
0,Issah Abbas,GHA,Bundesliga,FW,Mainz 05,19,1998,1,0,9,...,0.0,0.00,0.0,0.0,0.0,0.17,0.00,0.17,0.17,0.17
1,David Abraham,ARG,Bundesliga,DF,Eint Frankfurt,32,1986,17,17,1420,...,0.0,0.00,0.4,0.4,0.1,0.03,0.01,0.03,0.03,0.03
2,Amir Abrashi,ALB,Bundesliga,MF,Freiburg,28,1990,10,9,790,...,0.0,0.00,0.2,0.2,0.1,0.02,0.01,0.02,0.02,0.02
3,Tyler Adams,USA,Bundesliga,MF,RB Leipzig,19,1999,10,8,721,...,0.0,0.25,0.2,0.2,0.7,0.03,0.09,0.12,0.03,0.12
4,Antonis Aidonis,GER,Bundesliga,DF,Stuttgart,17,2001,2,1,80,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00

In [25]:
all_players = pd.concat([spanish, german, english])

In [26]:
all_players

,Player_Name,Nation,League,Pos,Squad,Age,Born,MP,Starts,Min,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
0,Antonio Adán,ESP,La Liga,GK,Atlético Madrid,31.0,1987.0,1,1,90,...,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
1,Aday,ESP,La Liga,DF,Girona,30.0,1987.0,10,8,645,...,0.00,0.28,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14
2,Aritz Aduriz,ESP,La Liga,FW,Athletic Club,37.0,1981.0,20,10,943,...,0.00,0.00,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21
3,Luis Advíncula,PER,La Liga,DF,Rayo Vallecano,28.0,1990.0,28,27,2389,...,0.04,0.15,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10
4,Martin Agirregabiria,ESP,La Liga,DF,Alavés,22.0,1996.0,27,23,2032,...,0.00,0.00,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,Andre-Frank Zambo Anguissa,CMR,Premiere League,MF,Fulham,22.0,1995.0,22,16,1517,...,0.00,0.00,0.8,0.8,0.4,0.05,0.02,0.07,0.05,0.07
504,Davide Zappacosta,ITA,Premiere League,DF,Chelsea,26.0,1992.0,4,1,128,...,0.00,0.00,0.1,0.1,0.1,0.04,0.10,0.14,0.04,0.14
505,Oleksandr Zinchenko,UKR,Premiere League,DF,Manchester City,21.0,1996.0,14,14,1151,...,0.00,0.23,0.1,0.1,1.3,0.01,0.10,0.11,0.01,0.11
506,Kenneth Zohore,DEN,Premiere League,FW,Cardiff City,24.0,1994.0,19,7,753,...,0.12,0.24,1.9,1.9,1.1,0.22,0.13,0.35,0.22,0.35
507,Kurt Zouma,FRA,Premiere League,DF,Everton,23.0,1994.0,32,29,2612,...,0.07,0.14,1.3,1.3,0.3,0.04,0.01,0.06,0.04,0.06

In [27]:
all_players = all_players[['Player_Name','Nation', 'League','Squad','Pos','Age','Born']]

In [28]:
all_players

,Player_Name,Nation,League,Squad,Pos,Age,Born
0,Antonio Adán,ESP,La Liga,Atlético Madrid,GK,31.0,1987.0
1,Aday,ESP,La Liga,Girona,DF,30.0,1987.0
2,Aritz Aduriz,ESP,La Liga,Athletic Club,FW,37.0,1981.0
3,Luis Advíncula,PER,La Liga,Rayo Vallecano,DF,28.0,1990.0
4,Martin Agirregabiria,ESP,La Liga,Alavés,DF,22.0,1996.0
...,...,...,...,...,...,...,...
503,Andre-Frank Zambo Anguissa,CMR,Premiere League,Fulham,MF,22.0,1995.0
504,Davide Zappacosta,ITA,Premiere League,Chelsea,DF,26.0,1992.0
505,Oleksandr Zinchenko,UKR,Premiere League,Manchester City,DF,21.0,1996.0
506,Kenneth Zohore,DEN,Premiere League,Cardiff City,FW,24.0,1994.0
507,Kurt Zouma,FRA,Premiere League,Everton,DF,23.0,1994.0

In [29]:
bundesliga_stats = german[['Player_Name',
 'MP',
 'Starts',
 'Min',
 'Gls',
 'Ast',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'xG.1',
 'xA.1',
 'xG+xA',
 'npxG.1',
 'npxG+xA']]

In [30]:
bundesliga_stats.head()

,Player_Name,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
0,Issah Abbas,1,0,9,0,0,0,0,0,0,...,0.0,0.00,0.0,0.0,0.0,0.17,0.00,0.17,0.17,0.17
1,David Abraham,17,17,1420,0,0,0,0,2,0,...,0.0,0.00,0.4,0.4,0.1,0.03,0.01,0.03,0.03,0.03
2,Amir Abrashi,10,9,790,0,0,0,0,5,0,...,0.0,0.00,0.2,0.2,0.1,0.02,0.01,0.02,0.02,0.02
3,Tyler Adams,10,8,721,0,2,0,0,0,0,...,0.0,0.25,0.2,0.2,0.7,0.03,0.09,0.12,0.03,0.12
4,Antonis Aidonis,2,1,80,0,0,0,0,1,0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00

In [31]:
laliga_stats = spanish[['Player_Name',
 'MP',
 'Starts',
 'Min',
 'Gls',
 'Ast',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'xG.1',
 'xA.1',
 'xG+xA',
 'npxG.1',
 'npxG+xA']]

In [32]:
laliga_stats.head()

,Player_Name,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
0,Antonio Adán,1,1,90,0,0,0,0,1,0,...,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
1,Aday,10,8,645,0,2,0,0,2,0,...,0.00,0.28,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14
2,Aritz Aduriz,20,10,943,2,0,2,2,5,0,...,0.00,0.00,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21
3,Luis Advíncula,28,27,2389,1,3,0,0,6,2,...,0.04,0.15,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10
4,Martin Agirregabiria,27,23,2032,0,0,0,0,4,0,...,0.00,0.00,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02

In [33]:
premiere_stats = english[['Player_Name',
 'MP',
 'Starts',
 'Min',
 'Gls',
 'Ast',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'xG.1',
 'xA.1',
 'xG+xA',
 'npxG.1',
 'npxG+xA']]

In [34]:
premiere_stats.head()

,Player_Name,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
0,Patrick van Aanholt,36,36,3195,3,2,0,0,3,0,...,0.08,0.14,2.7,2.7,3.9,0.08,0.11,0.19,0.08,0.19
1,Sergio Agüero,33,31,2459,21,8,2,2,4,0,...,0.70,0.99,20.7,19.2,5.5,0.76,0.20,0.96,0.70,0.91
2,Nathan Aké,38,38,3411,4,0,0,0,3,0,...,0.11,0.11,3.4,3.4,0.8,0.09,0.02,0.11,0.09,0.11
3,Marc Albrighton,27,18,1625,2,2,0,0,3,0,...,0.11,0.22,1.1,1.1,3.1,0.06,0.17,0.23,0.06,0.23
4,Toby Alderweireld,34,33,2922,0,0,0,0,3,0,...,0.00,0.00,1.1,1.1,0.6,0.03,0.02,0.05,0.03,0.05

In [35]:
leagues.set_index("League", inplace=True)

In [36]:
leagues.head()

                Confederation  Country  No_Teams
League
Premiere League          UEFA  England        20
Bundesliga               UEFA  Germany        18
La Liga                  UEFA    Spain        20

In [37]:
bundesliga_stats.set_index("Player_Name", inplace=True)
laliga_stats.set_index("Player_Name", inplace=True)
premiere_stats.set_index("Player_Name", inplace=True)

In [38]:
bundesliga_stats.head()

,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,Gls.1,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
Player_Name,,,,,,,,,,,,,,,,,,,,,
Issah Abbas,1,0,9,0,0,0,0,0,0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.17,0.00,0.17,0.17,0.17
David Abraham,17,17,1420,0,0,0,0,2,0,0.0,...,0.0,0.00,0.4,0.4,0.1,0.03,0.01,0.03,0.03,0.03
Amir Abrashi,10,9,790,0,0,0,0,5,0,0.0,...,0.0,0.00,0.2,0.2,0.1,0.02,0.01,0.02,0.02,0.02
Tyler Adams,10,8,721,0,2,0,0,0,0,0.0,...,0.0,0.25,0.2,0.2,0.7,0.03,0.09,0.12,0.03,0.12
Antonis Aidonis,2,1,80,0,0,0,0,1,0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00

In [39]:
laliga_stats.head()

,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,Gls.1,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
Player_Name,,,,,,,,,,,,,,,,,,,,,
Antonio Adán,1,1,90,0,0,0,0,1,0,0.00,...,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
Aday,10,8,645,0,2,0,0,2,0,0.00,...,0.00,0.28,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14
Aritz Aduriz,20,10,943,2,0,2,2,5,0,0.19,...,0.00,0.00,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21
Luis Advíncula,28,27,2389,1,3,0,0,6,2,0.04,...,0.04,0.15,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10
Martin Agirregabiria,27,23,2032,0,0,0,0,4,0,0.00,...,0.00,0.00,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02

In [40]:
premiere_stats.head()

,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,Gls.1,...,G-PK,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA
Player_Name,,,,,,,,,,,,,,,,,,,,,
Patrick van Aanholt,36,36,3195,3,2,0,0,3,0,0.08,...,0.08,0.14,2.7,2.7,3.9,0.08,0.11,0.19,0.08,0.19
Sergio Agüero,33,31,2459,21,8,2,2,4,0,0.77,...,0.70,0.99,20.7,19.2,5.5,0.76,0.20,0.96,0.70,0.91
Nathan Aké,38,38,3411,4,0,0,0,3,0,0.11,...,0.11,0.11,3.4,3.4,0.8,0.09,0.02,0.11,0.09,0.11
Marc Albrighton,27,18,1625,2,2,0,0,3,0,0.11,...,0.11,0.22,1.1,1.1,3.1,0.06,0.17,0.23,0.06,0.23
Toby Alderweireld,34,33,2922,0,0,0,0,3,0,0.00,...,0.00,0.00,1.1,1.1,0.6,0.03,0.02,0.05,0.03,0.05

In [41]:
all_players.set_index("Player_Name", inplace=True)

In [42]:
all_players.head()

                     Nation   League            Squad Pos   Age    Born
Player_Name
Antonio Adán            ESP  La Liga  Atlético Madrid  GK  31.0  1987.0
Aday                    ESP  La Liga           Girona  DF  30.0  1987.0
Aritz Aduriz            ESP  La Liga    Athletic Club  FW  37.0  1981.0
Luis Advíncula          PER  La Liga   Rayo Vallecano  DF  28.0  1990.0
Martin Agirregabiria    ESP  La Liga           Alavés  DF  22.0  1996.0