In [1]:
# Imports 
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# get files to load

e_file = "resources/english.csv"
g_file = "resources/german.csv"
s_file = "resources/spanish.csv"

leagues_file = "resources/leagues.csv"

In [3]:
#load data into pandas dataframe

english = pd.read_csv(e_file)
german = pd.read_csv(g_file)
spanish = pd.read_csv(s_file)
leagues = pd.read_csv(leagues_file)

In [4]:
english.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Patrick van Aanholt\Patrick-van-Aanholt,nl NED,DF,Crystal Palace,27,1990,36,36,3195,...,0.14,2.7,2.7,3.9,0.08,0.11,0.19,0.08,0.19,Matches
1,2,Sergio Agüero\Sergio-Aguero,ar ARG,FW,Manchester City,30,1988,33,31,2459,...,0.99,20.7,19.2,5.5,0.76,0.20,0.96,0.70,0.91,Matches
2,3,Nathan Aké\Nathan-Ake,nl NED,DF,Bournemouth,23,1995,38,38,3411,...,0.11,3.4,3.4,0.8,0.09,0.02,0.11,0.09,0.11,Matches
3,4,Marc Albrighton\Marc-Albrighton,eng ENG,FWMF,Leicester City,28,1989,27,18,1625,...,0.22,1.1,1.1,3.1,0.06,0.17,0.23,0.06,0.23,Matches
4,5,Toby Alderweireld\Toby-Alderweireld,be BEL,DF,Tottenham,29,1989,34,33,2922,...,0.00,1.1,1.1,0.6,0.03,0.02,0.05,0.03,0.05,Matches

In [5]:
german.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Issah Abbas\Issah-Abbas,gh GHA,FW,Mainz 05,19,1998,1,0,9,...,0.00,0.0,0.0,0.0,0.17,0.00,0.17,0.17,0.17,Matches
1,2,David Abraham\David-Abraham,ar ARG,DF,Eint Frankfurt,32,1986,17,17,1420,...,0.00,0.4,0.4,0.1,0.03,0.01,0.03,0.03,0.03,Matches
2,3,Amir Abrashi\Amir-Abrashi,al ALB,MF,Freiburg,28,1990,10,9,790,...,0.00,0.2,0.2,0.1,0.02,0.01,0.02,0.02,0.02,Matches
3,4,Tyler Adams\Tyler-Adams,us USA,MF,RB Leipzig,19,1999,10,8,721,...,0.25,0.2,0.2,0.7,0.03,0.09,0.12,0.03,0.12,Matches
4,5,Antonis Aidonis\Antonis-Aidonis,de GER,DF,Stuttgart,17,2001,2,1,80,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches

In [6]:
spanish.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Antonio Adán\Antonio-Adan,es ESP,GK,Atlético Madrid,31.0,1987.0,1,1,90,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Aday\Aday,es ESP,DFMF,Girona,30.0,1987.0,10,8,645,...,0.28,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14,Matches
2,3,Aritz Aduriz\Aritz-Aduriz,es ESP,FW,Athletic Club,37.0,1981.0,20,10,943,...,0.00,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21,Matches
3,4,Luis Advíncula\Luis-Advincula,pe PER,DF,Rayo Vallecano,28.0,1990.0,28,27,2389,...,0.15,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10,Matches
4,5,Martin Agirregabiria\Martin-Agirregabiria,es ESP,DF,Alavés,22.0,1996.0,27,23,2032,...,0.00,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02,Matches

In [7]:
leagues.head()

            League Confederation  Country  No_Teams
0  Premiere League          UEFA  England        20
1       Bundesliga          UEFA  Germany        18
2          La Liga          UEFA    Spain        20

In [8]:
# displays all the column names in the spanish, german, and english dataframes

for col in spanish.columns:
    print(col)

Rk
Player
Nation
Pos
Squad
Age
Born
MP
Starts
Min
Gls
Ast
PK
PKatt
CrdY
CrdR
Gls.1
Ast.1
G+A
G-PK
G+A-PK
xG
npxG
xA
xG.1
xA.1
xG+xA
npxG.1
npxG+xA
Matches